#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 30%;
  background-color: #db8876;
  padding: 2rem;
  border-radius: 0.6rem;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photograph-header div:first-child h1 {
  font-size: 64px;
  color: #d3573c;
  margin: 0;
}

.photograph-header div:first-child p:first-of-type {
  font-size: 18px;
  margin-bottom: 20px;
  color: #901c1c;
}

.photograph-header div:last-child img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 10em;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.portfolio article img,
.portfolio article video {
  object-fit: cover;
  object-position: 50% 35%;
  border-radius: 0.4em;
  height: 300px;
  width: 350px;
  cursor: pointer;
}

.portfolio {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: relative;
  margin: 30px 100px;
}

.portfolio article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio article > div {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 20px;
}

.portfolio article div span {
  color: #901c1c;
}

aside {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  right: 40px;
  width: 250px;
  background: #db8876;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 24px;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-overlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.close-icon {
  position: absolute;
  top: 6%;
  right: 6%;
  color: #fff;
  cursor: pointer;
  position: fixed;
  appearance: none;
  border: none;
  background: none;
  font-size: 82px;
  color: #901c1c;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.back-icon,
.next-icon {
  margin: 5%;
  position: fixed;
  appearance: none;
  border: none;
  background: none;
  font-weight: 600;
  font-size: 42px;
  color: #901c1c;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.back-icon {
  left: 10px;
}

.next-icon {
  right: 10px;
}

.filter {
  margin: 0 100px;
}

.formData[data-error]::after {
  content: "";
  font-size: 0.4em;
  color: #901c1c;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
  content: attr(data-error);
}
.formData[data-error-1-visible="true"]::after {
  opacity: 1;
  content: attr(data-error-1);
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #901c1c;
}
.formData[data-error-1-visible="true"] .text-control {
  border: 2px solid #901c1c;
}
.formData[data-error-visible="ok"] .text-control {
  border: 2px solid #279e7a;
}

.container-confirmation-submit {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 30%;
  background-color: #db8876;
  padding: 2rem;
  border-radius: 0.6rem;
  height: 45%;
}

.selector {
  position: relative;
  margin: 0;
  background: #901c1c;
  list-style: none;
  border-radius: 5px;
  color: #fff;
  height: 45px;
  width: 170px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.filter {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 2%;
}

.likes {
  margin-left: 45%;
}
